:root {
  --primary-color: rgb(197, 19, 80);
  --primary-color-light: rgba(197, 19, 80, 0.3);
  --secondary-color: #fc9c3d;
  --secondary-color-light: rgba(255, 169, 82, 0.5);
  --quarternary-color: rgb(245, 244, 232);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--quarternary-color);
}

.navbar {
  padding: 10px 25px;
  font-family: "Bitter", serif;
  background-color: rgba(245, 244, 232, 0.3);
}

h1 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 96px;
}

.content-container h1 {
  font-size: 60px;
}

.content-container h3 {
  font-size: 18px;
  font-weight: 800;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-family: "Bitter", serif;
  font-weight: 300;
}

.img-portrait {
  max-width: 400px;
}

.hero {
  padding: 125px 10px 100px;
  text-align: center;
  background-color: var(--primary-color-light);
}

.hero-content {
  padding: 125px 50px 100px;
  background-color: var(--secondary-color-light);
  gap: 20px;
}

.hero-content h1 {
  font-size: 60px;
}

.font-weight-bold {
  font-weight: bold !important;
}

.btn {
  padding: 20px;
  font-family: "Inter", sans serif;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  color: var(--quarternary-color);
}

.btn-primary:hover {
  background-color: var(--quarternary-color);
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

.btn-primary:active {
  background-color: var(--primary-color) !important;
  border: var(--primary-color) 1px solid !important;
}

.project-container .btn-primary {
  background-color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

.project-container .btn-primary:hover {
  background-color: var(--quarternary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

.project-container .btn-primary:active {
  background-color: var(--secondary-color) !important;
  border: var(--secondary-color) 1px solid !important;
  color: var(--quarternary-color);
}

.content-container,
.project-container {
  max-width: 900px;
  margin-bottom: 100px !important;
}

.projects-button {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.link-container {
  margin-bottom: 40px;
}

.link-container a {
  color: var(--secondary-color);
}

.email-link {
  font-size: 24px;
  padding-bottom: 20px;
  width: fit-content;
  align-self: center;
}

.contact-links {
  font-size: 32px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

i {
  border-radius: 50px;
  padding: 10px;
}

.content-footer i {
  color: var(--secondary-color);
}

.content-footer i:hover {
  background-color: var(--secondary-color);
  color: var(--quarternary-color);
}

i:hover {
  background-color: var(--primary-color);
  color: var(--quarternary-color) !important;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content-footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

.content-link {
  color: var(--secondary-color);
}

@media (max-width: 850px) {
  .img-portrait {
    display: none;
  }

  .about-hero-content {
    flex-direction: column;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    margin: 0 25px !important;
  }

  .about-hero-content p {
    margin-bottom: 50px;
  }

  .projects-button {
    margin: 0 auto;
  }
}

@media (max-width: 719px) {
  h1 {
    font-size: 64px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }

  .launch-button {
    display: flex;
    justify-content: center;
  }

  .col-12 {
    padding: 0 20px;
  }

  footer a {
    font-size: 16px;
  }

  .email-link {
    font-size: 16px;
  }
}
