:root {
  --primary-color: rgb(197, 19, 80);
  --primary-color-light: rgba(197, 19, 80, 0.3);
  --secondary-color: #fc9c3d;
  --secondary-color-light: rgba(255, 169, 82, 0.5);
  --tertiary-color: #eec60a;
  --quarternary-color: #f5f4e8;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 96px;
}

.about-container h1 {
  font-size: 60px;
}

.about-container h3 {
  font-size: 18px;
  font-weight: 800;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-family: "Bitter", serif;
  font-weight: 300;
}

.hero {
  padding: 100px 10px;
  text-align: center;
  background-color: var(--primary-color-light);
}

.hero-about {
  padding: 100px 10px;
  background-color: var(--secondary-color-light);
  max-width: 1100px;
}

.btn {
  padding: 20px;
  font-family: "Inter", sans serif;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

.btn-primary:hover {
  background-color: var(--quarternary-color);
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

.btn-primary:active {
  background-color: var(--primary-color) !important;
  border: var(--primary-color) 1px solid !important;
}

.about-container .btn-primary {
  background-color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

.about-container .btn-primary:hover {
  background-color: var(--quarternary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

.about-container .btn-primary:active {
  background-color: var(--secondary-color) !important;
  border: var(--secondary-color) 1px solid !important;
  color: var(--quarternary-color);
}

.project-container {
  max-width: 900px;
  margin-bottom: 100px !important;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 719px) {
  h1 {
    font-size: 64px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }

  .launch-button {
    display: flex;
    justify-content: center;
  }

  .col-12 {
    padding: 0 20px;
  }
}
